*{
    box-sizing: border-box;
    margin: 0;
}
body{
    max-height: 100vh;
    width: 100%;
    background-color: #0d0019;
    height: 100vh;
    color: #d1d5db;
    font-family: fangsong;
    text-align: center;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}
div.container{
    min-height: 200px;
    display: flex;
    flex-direction: column;
}
div.container > .wrapper-content{
    display: inherit;
    gap: 16px;
    flex-direction: column;
    min-height: 232px;
}
h1.header{
    font-size: 72px;
    line-height: 1.1;
    font-weight: 700;
    letter-spacing: -0.066em;
    font-family: fangsong;
}
h1.header-text{
    margin-bottom: 12px;
}
h2.header-two{
    font-family: Circular-Loom;
    font-size: 53px;
    font-weight: 400;
    letter-spacing: 0em;
    color: #f472b6;
}
h3.final-result{
    font-size: 2.8rem;
    line-height: 0.8;
    font-weight: 500;
    font-family: Circular-Loom;
    color: #f472b6;
}
p.paragraph {
    font-size: 1.5rem;
}
div.dynamic-cls, div.final-result-container{
    display: flex;
    gap: 20px;
    justify-content: center;
}
div.final-result-container{
    flex-direction: column;
    align-items: center;
}
div.dynamic-cls> div{
    display: inherit;
}
.btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
button{
    font-family: 'Circular-Loom';
    text-transform: lowercase;
    border: none;
    padding: 11px 40px;
    border-radius: 5px;
    background: blueviolet;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
}
button:active {
    outline: 4px solid blueviolet;
    background-color: #8a2be24a;
}
code {
    color: #c299e9;
}
